/*style reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*style reset*/

/*global*/
@font-face {
    font-family: akira;
    src: url(assets/akira-font.otf);
  }
:root {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    box-sizing: border-box;
    color: white;
    background-color: black;
    --primary-color: hsl(10, 70%, 50%);
}
body {
    display: flex;
}
a {
    font-weight: bold;
    color: var(--primary-color);
}
/*global*/

/*left section*/
.left-section {
    justify-content: center;
    display: flex;
    height: 100vh;
    overflow: hidden;
    display: flex;
    min-width: 250px;
    align-items: center;
    position: relative;
}
.logo-container {
    justify-content: center;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.4);
    width: 100%;
    padding: 20px;
    font-size: clamp(2.5rem,4vw, 5rem);
    color: var(--primary-color);
    font-family: akira, sans-serif;
}
.logo-container>img{
    width: clamp(4rem,6vw, 5rem);
}
.left-section>img {
    height: 100%;
}
.left-section>p {
    position: absolute;
    align-self: flex-end;
    margin-bottom: 20px;
}
/*left section*/

/*mobile*/
@media (max-width: 500px) {
    body {
        flex-direction: column;
    }
    .left-section {
        max-height: 150px;
    }
    .left-section>img{
        height: auto;
        width: 100%;
    }
    .left-section>p{
        font-size: 0.8rem;
    }
    .logo-container{
        height: 100%;
    }
}
/*mobile*/